<h2>Set Alarm</h2>
  <form [formGroup]="reminderForm" (ngSubmit)="onSubmit()">
    <label for="userIdInput">User ID:</label>
    <input type="text" id="userIdInput" name="userId" formControlName="userIdInput"/>

    <label for="messageInput">Message:</label>
    <input type="text" id="messageInput" name="message" formControlName="messageInput"/>

    <label for="timeInput">Time:</label>
    <input type="datetime-local" id="reminderTimeInput" name="reminderTimeInput" formControlName="reminderTimeInput"/>

    <label for="projectTypeDropdown">Project Type:</label>
    <select id="projectTypeDropdown" #projectType name="projectType">
      <option value="slsfw">SLSFW</option>
      <option value="cf">CF</option>
    </select>

    <!-- Add a button for submitting the form when you implement the logic -->
    <button type="submit">Submit</button>
  </form>